extends layout

block content
    div(class="container")
        div(class="row")
            div(class="box")
                div(class="col-lg-12")
                    hr
                    h2(class="intro-text text-center") Welcome to&nbsp
                        strong Uber
                    hr
                div(class="col-lg-12 text-center")
                    img(class="img-responsive img-border img-full", src="images/6.jpg", alt="")
                    hr
                    h2 Find a contractor you can trust
        div(class="row")
            div(class="box")
                div(class="col-lg-12 text-center")
                    hr
                    div(class="btn-group btn-btn-group-justified", role="group")
                        a(type="button", class="btn btn-default btn-lg", href="/services/browseservices") BROWSE SERVICES
                        a(type="button", class="btn btn-default btn-lg", href="/business/browsecontractors") BROWSE CONTRACTORS
                    hr
        div(class="row")
            div(class="box")
                div(class="col-lg-12 text-center")
                    hr
                    p Are you a contractor?&nbsp
                        a(data-toggle="modal", data-target="#sbloginmodal") Log in &nbsp
                        span or&nbsp
                        a(data-toggle="modal", data-target="#sbsignupmodal") Sign up
                    p Handyman? &nbsp
                        a(data-toggle="modal", data-target="#csignupmodal") Log In
                    hr
        div(class="modal fade", id="csignupmodal", tabindex="-1", role="dialog", aria-labelledby="cloginLabel")
            div(class="modal-dialog", role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                        h4(class="modal-title", id="cloginLabel") Log In
                    div(class="modal-body")
                        form(role="form")
                            div(class="row")
                                div(class="form-group col-lg-4")
                                    label Your Employer's Id
                                    input(type="text", class="form-control", placeholder="Uber Id")
                            div(class="row")
                                div(class="form-group col-lg-4")
                                    label Your Contractor Id
                                    input(type="text", class="form-control", placeholder="Contractor Id")
                            div(class="row")
                                div(class="form-group col-lg-4")
                                    label Password
                                    input(type="password", class="form-control", placeholder="Password")
                    div(class="modal-footer")
                        button(type="submit", class="btn btn-default", data-dismiss="modal") Submit
                        button(type="button", class="btn btn-default", data-dismiss="modal") Reset
        div(class="modal fade", id="sbloginmodal", tabindex="-1", role="dialog", aria-labelledby="sbloginLabel")
            div(class="modal-dialog", role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                        h4(class="modal-title", id="sbloginLabel") Log In
                    div(class="modal-body")
                        form(role="form")
                            div(class="row")
                                div(class="form-group col-lg-4")
                                    label Your Uber Id
                                    input(type="text", class="form-control", placeholder="Uber Id")
                            div(class="row")
                                div(class="form-group col-lg-4")
                                    label Password
                                    input(type="password", class="form-control", placeholder="Password")
                    div(class="modal-footer")
                        button(type="submit", class="btn btn-default", data-dismiss="modal") Submit
                        button(type="button", class="btn btn-default", data-dismiss="modal") Reset
        div(class="modal fade", id="sbsignupmodal", tabindex="-1", role="dialog", aria-labelledby="sbsignupLabel")
            div(class="modal-dialog", role="document")
                div(class="modal-content")
                    div(class="modal-header", id="sbsignupmodalheader")
                        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                        h4(class="modal-title", id="sbsignupLabel") Log In
                    div(class="modal-body")
                        form(role="form", action="/business/bsignup", method="post")
                            div(class="row")
                                div(class="form-group col-lg-4")
                                    label Contact Name
                                    input(type="text", name='name', id='name', required='true', class="form-control", value='XYZ', placeholder="Contact Name")
                            div(class="row")
                                div(class="form-group col-lg-4")
                                    label Email
                                    input(type="email", name='email', id='email', value='abc@uber.com', required='true', class="form-control", placeholder="Email")
                            div(class="row")
                                div(class="form-group col-lg-4")
                                    label Password
                                    input(type="password", name='password', id='password', value='password', required='true', class="form-control", placeholder="Password")
                            div(class="row")
                                div(class="form-group col-lg-4")
                                    label Street Address
                                    input(type="text", required='true', name='street_address', id='street_address', value='1 Infinite Loop', class="form-control", placeholder="Street Address")
                            div(class="row")
                                div(class="form-group col-lg-4")
                                    label State
                                    input(list="stateslist", required='true', value='CA', name='state', id='state')
                                    datalist(id="stateslist")
                                        option(value="CA")
                                        option(value="NY")
                                        option(value="NV")
                                        option(value="TX")
                                        option(value="WA")
                            div(class="row")
                                div(class="form-group col-lg-4")
                                    label City
                                    input(list="citieslist", required='true', value='San Jose', name='city', id='city')
                                    datalist(id="citieslist")
                                        option(value="San Jose")
                                        option(value="San Francisco")
                                        option(value="Sacramento")
                                        option(value="Los Angeles")
                                        option(value="San Diego")
                            div(class="row")
                                div(class="form-group col-lg-4")
                                    label Zip
                                    input(type="text", required='true', class="form-control", placeholder="Zip", id='zip', value='95129', name='zip')
                            div(class="row")
                                div(class="form-group col-lg-4")
                                    label Phone Number
                                    input(type="text", required='true', class="form-control", placeholder="Phone number", value='4085551234', name='mobile', id='mobile')
                                    hr
                                    p Already have an Account?&nbsp
                                        a(data-toggle="modal", data-target="#sbloginmodal", class="close", data-dismiss="modal") Login
                            div(class="modal-footer")
                                button(type="submit", id="sbsignupformsubmit", class="btn btn-default") Submit
                                button(type="reset", class="btn btn-default") Reset
    include footer
